<section id="biography">
  <div class="container">
    <h2 class="section__title">Biography</h2>
    <ul class="lang-menu">
      <li class="lang-menu__item" data-lang="en">
        <a href="#">English</a>
      </li>
      <li class="lang-menu__item" data-lang="fr">
        <a href="#">Français</a>
      </li>
      <li class="lang-menu__item" data-lang="es">
        <a href="#">Español</a>
      </li>
      <li class="lang-menu__item" data-lang="ca">
        <a href="#">Català</a>
      </li>
    </ul>
    <div class="biography bio-en visible">
      <p>
        Born in Quebec, Canada, Pierre-Antoine Tremblay specializes in the practice of
        historical instruments, from the early stages of the horn during the
        Baroque era to the final romantic flourishes of the early 20th century.
        He performs as first horn with prestigious period-instrument ensembles,
        including Europa Galante (Italy), Anima Eterna (Belgium), and Tafelmusik
        Baroque Orchestra (Canada). He receives regular invitations from
        ensembles, including the Freiburger Barockorchester (Germany), Collegium
        Vocale Gent (Belgium), Graindelavoix (Belgium), Orchestre des Champs-Élysées (France), Arion Baroque Orchestra (Canada), Vespres d’Arnadi (Spain),
        and Capriccio Stravagante (France). Over the past few years, he has
        performed in more than thirty countries across Europe, North America,
        South America, and Asia, collaborating with renowned conductors like
        Frans Brüggen, Philippe Herreweghe, Fabio Biondi, René Jacobs,
        Masaaki Suzuki, Sir Simon Rattle, Pablo Heras-Casado, Raphaël
        Pichon, and Ton Koopman.
      </p>
      <p>
        As a soloist, Pierre-Antoine is equally adept at performing Baroque
        works with obbligato horn parts, such as Bach’s
        <cite>Mass in B Minor</cite>
        or the
        <cite>First Brandenburg Concerto,</cite>
        and traditional horn concertos by composers like Mozart and Richard
        Strauss. In 2014, he founded the Dialoghi Ensemble in Barcelona to
        explore classical and romantic repertoire on period instruments. Their
        debut recording, featuring Mozart and Beethoven quintets for fortepiano
        and winds, was released by Harmonia Mundi in 2018.
      </p>
      <p>
        Passionate about teaching the early horns, he was appointed in 2023 at
        the
        <span lang="fr">
          Conservatoire National Supérieur de Musique et de Danse de Paris
        </span>
        (
        <abbr
          title="Conservatoire National Supérieur de Musique et de Danse de Paris"
        >
          CNSMDP
        </abbr>
        ), succeeding his mentor, Claude Maury, and at the
        <span lang="ca">Escola Superior de Música de Catalunya</span>
        (
        <abbr title="Escola Superior de Música de Catalunya">ESMUC</abbr>
        ) in Barcelona. He has conducted masterclasses at institutions such as
        the Yong Siew Toh Conservatory of Singapore, the J.F. Oberlin University
        of Tokyo, the Domaine Forget Academy in Canada, the Jacobs School of
        Music of Indiana, the Amsterdam Conservatory, the Royal Conservatory of
        Brussels, the Hanover Hochschule für Musik, and the Katarina Gurska School of Music of Madrid. He also
        teaches at the
        <span lang="fr">
          Jeune Orchestre de l’Abbaye, Université de Poitiers
        </span>
        in France, and taught at McGill University in Montreal.
      </p>
      <p>
        He began his musical education on the modern horn at the
        <span lang="fr">Conservatoire de musique de Québec</span>
        with Julie-Anne Drolet and later at McGill University in Montreal. He
        then studied the natural horn with Teunis van der Zwart at the
        Amsterdam Conservatory, where he earned a master’s degree in early music
        in 2012.
      </p>
      <p>
        He has been invited to perform at the symposiums of the International
        Horn Society (
        <abbr title="International Horn Society">IHS</abbr>
        ) in 2023 in Montreal, Canada and 2025 in Virginia, USA.
      </p>
      <p>
        An enthusiast of history and instruments, Pierre-Antoine owns a
        collection of early horns, including two 19th-century natural horns made by
        Marcel-Auguste Raoux and Courtois Neveu Aîné, as well as a Vienna horn
        by Leopold Uhlmann. He collaborates with horn maker Richard Seraphinoff
        in researching and designing new historical horn models and is a
        long-time contributor to the
        <a href="https://imslp.org/wiki/User:Puzzi22" target="_blank">
          International Music Score Library Project
        </a>
        (
        <abbr title="International Music Score Library Project">IMSLP</abbr>
        ), making hundreds of works for horn accessible to everyone.
      </p>
    </div>
    <div class="biography bio-fr" lang="fr">
      <p>
        Pierre-Antoine Tremblay (Québec, Canada) poursuit une carrière de corniste
        spécialisé dans la pratique des instruments anciens, des balbutiements
        du cor à l’époque baroque aux dernières envolées romantiques du début du
        XXe siècle. Il joue comme premier cor avec plusieurs des meilleurs
        ensembles d’instruments d’époque tels qu’Europa Galante (Italie), Anima
        Eterna (Belgique) et Tafelmusik Baroque Orchestra (Canada). Il est
        régulièrement invité à se produire avec le Freiburger Barockorchester
        (Allemagne), le Collegium Vocale Gent (Belgique), l'Orchestre des Champs-Élysées, Graindelavoix (Belgique), Arion Orchestre Baroque (Canada),
        Vespres d’Arnadi (Espagne) et Capriccio Stravagante (France). Au cours
        des dernières années, il s’est produit dans une trentaine de pays
        d’Europe, d’Amérique du Nord, d’Amérique du Sud et d’Asie, sous la
        direction de chefs renommés tels que Frans Brüggen, Philippe Herreweghe,
        Fabio Biondi, René Jacobs, Masaaki Suzuki, Sir Simon Rattle, Pablo
        Heras-Casado, Raphaël Pichon et Ton Koopman.
      </p>
      <p>
        Pierre-Antoine s’est produit plusieurs fois comme soliste, autant dans
        les œuvres baroques comportant des parties de cor obligées, comme la
        <cite>Messe en si mineur</cite>
        ou le
        <cite>Concerto brandebourgeois</cite>
        de Bach, que dans les concertos « traditionnels », comme ceux de Mozart
        et de Richard Strauss. En 2014, il fonde à Barcelone l’Ensemble Dialoghi
        dans le but d’explorer le répertoire classique et romantique sur
        instruments d’époque. Leur premier disque, consacré aux quintettes pour
        vents et piano de Mozart et Beethoven, est lancé sur étiquette Harmonia
        Mundi en 2018.
      </p>
      <p>
        Passionné par l’enseignement du cor ancien, il est nommé en 2023
        professeur de cor ancien du Conservatoire National Supérieur de Musique
        et de Danse de Paris (
        <abbr
          title="Conservatoire National Supérieur de Musique et de Danse de Paris"
        >
          CNSMDP
        </abbr>
        ), succédant ainsi à son mentor, Claude Maury, ainsi qu'à l'
        <span lang="ca">Escola Superior de Música de Catalunya</span>
        (
        <abbr title="Escola Superior de Música de Catalunya">ESMUC</abbr>
        ) de Barcelone. Il a de plus été invité à donner des classes de maître
        au conservatoire Yong Siew Toh de Singapour, à l’Université J.F. Oberlin
        de Tokyo, à l’Académie Internationale du Domaine Forget au Québec, à la
        Jacobs School of Music de l'Université de l'Indiana, au Conservatoire d’Amsterdam, au
        Conservatoire royal de Bruxelles, à la Hochschule d'Hanovre, ainsi qu’au Conservatoire Katarina
        Gurska de Madrid. Il enseigne également au Jeune Orchestre de l’Abbaye/Université de
        Poitiers en France et a enseigné à l’Université McGill de Montréal.
      </p>
      <p>
        Après des études de cor moderne au Conservatoire de musique de Québec
        avec Julie-Anne Drolet et à l’Université McGill à Montréal, il a étudié le cor naturel avec Teunis van der Zwart au
        Conservatoire d’Amsterdam, où il a obtenu une maîtrise en musique
        ancienne en 2012.
      </p>
      <p>
        Il a été invité à se produire aux symposiums de l'Association
        internationale du cor (
        <abbr title="International Horn Society">IHS</abbr>
        ) de 2023 à Montréal (Canada) et de 2025 en Virginie (fÉtats-Unis).
      </p>
      <p>
        Féru d’histoire et d’instruments, il possède une collection de cors
        anciens, notamment deux cors naturels du début du XIXe siècle de
        Marcel-Auguste Raoux et de Courtois Neveu Aîné, ainsi qu’un cor viennois
        de Leopold Uhlmann. Il collabore avec le facteur d’instruments Richard
        Seraphinoff au développement de nouvelles copies de cors anciens et
        contribue à la
        <a href="https://imslp.org/wiki/User:Puzzi22" target="_blank" lang="en">
          International Music Score Library Project
        </a>
        (
        <abbr title="International Music Score Library Project">IMSLP</abbr>
        ), mettant à disposition de tous des centaines d’œuvres pour cor.
      </p>
    </div>
    <div class="biography bio-es" lang="es">
      <p>
        Nacido en Quebec (Canadá), Pierre-Antoine Tremblay desarrolló una fuerte pasión
        por el movimiento de la música antigua, desde los primeros pasos de la
        trompa durante la época barroca hasta los últimos destellos románticos
        de principios del siglo XX. Toca regularmente como primer trompa con
        algunos de los principales conjuntos de instrumentos de época como
        Europa Galante (Italia), Anima Eterna (Bélgica) y Tafelmusik Baroque
        Orchestra (Canadá). También Ha sido invitado a actuar con la Orquesta
        Barroca de Friburgo (Alemania), el Collegium Vocale Gent (Bélgica),
        Graindelavoix (Bélgica), Orchestre des Champs-Élysées, Arion Orquesta
        Barroca (Canadá), Vespres d’Arnadi (España) y Capriccio Stravagante
        (Francia). Sus actividades artísticas durante los últimos años le han
        llevado a unos treinta países entre Europa, Asia, Norteamérica y
        América del Sur, actuando con directores como Frans Brüggen, Philippe
        Herreweghe, Fabio Biondi, René Jacobs, Masaaki Suzuki, Sir Simon
        Rattle, Pablo Heras-Casado, Raphaël Pichon y Ton Koopman.
      </p>
      <p>
        Se ha presentado varias veces como solista, tanto en obras barrocas con
        partes de trompa obligadas, como la
        <cite>Misa en si</cite>
        menor o el
        <cite>Concierto de Brandeburgo</cite>
        de Bach, como en conciertos tradicionales de Mozart y Richard Strauss.
        En 2014, fundó en Barcelona el Ensemble Dialoghi con el fin de explorar
        el repertorio clásico y romántico con instrumentos históricos. Su primer disco, con los quintetos para vientos y
        piano de Mozart y Beethoven, fue lanzado por Harmonia Mundi en 2018.
      </p>
      <p>
        Apasionado por la enseñanza de las diferentes trompas históricas, fue
        nombrado profesor en 2023 en el Conservatoire National Supérieur de
        Musique et de Danse de París (
        <abbr
          title="Conservatoire National Supérieur de Musique et de Danse de Paris"
        >
          CNSMDP
        </abbr>
        ), sucediendo a su mentor, Claude Maury, así que en la
        <span lang="ca">Escola Superior de Música de Catalunya</span>
        (
        <abbr title="Escola Superior de Música de Catalunya">ESMUC</abbr>
        ) de Barcelona. Ha sido invitado a dar clases magistrales en el
        Conservatorio Yong Siew Toh de Singapur, la Universidad J.F. Oberlin de
        Tokio, la Academia Internacional Domaine Forget (Canadá), la Jacobs
        School of Music de la Universidad de Indiana (EE. UU.), el Conservatorio de Ámsterdam, el
        Conservatorio Real de Bruselas, la Hochschule de Hanóver,  y el Centro Superior de Enseñanza Musical
        Katarina Gurska de Madrid. También enseña en la Jeune Orchestre de
        l’Abbaye/Université de Poitiers en Francia y ha enseñado en la
        Universidad McGill (Canadá).
      </p>
      <p>
        Después de sus estudios de trompa moderna en el conservatorio de Quebec
        y la Universidad McGill en Montreal, estudió la trompa natural
        con Teunis van der Zwart en el Conservatorio de
        Ámsterdam, donde obtuvo en 2012 un máster en música antigua.
      </p>
      <p>
        Ha sido invitado a actuar en los congresos de la Asociación
        internacional de la trompa (
        <abbr title="International Horn Society">IHS</abbr>
        ) en 2023 en Montreal (Canadá) y 2025 en Virginia (Estados Unidos).
      </p>
      <p>
        Aficionado a la historia e instrumentos, posee una colección de trompas
        antiguas, entre la cuales destacan dos trompas naturales del inicio del
        siglo XIX de Marcel-Auguste Raoux y de Courtois Neveu Aîné, así como una
        trompa vienesa de Leopold Uhlmann. También, colabora con el fabricante
        de instrumentos Richard Seraphinoff en el desarrollo de nuevas copias de
        trompas antiguas y contribuye al
        <a href="https://imslp.org/wiki/User:Puzzi22" target="_blank" lang="en">
          International Music Score Library Project
        </a>
        (
        <abbr title="International Music Score Library Project">IMSLP</abbr>
        ), poniendo a disposición de todos cientos de obras para trompa.
      </p>
    </div>
    <div class="biography bio-ca" lang="ca">
      <p>
        Nascut al Quebec (Canadà), Pierre-Antoine Tremblay desenvolupa una forta passió
        pel moviment de la música antiga, des dels primers passos de la trompa
        durant l'època barroca fins a les darreres obres romàntiques de
        principis del segle XX. Toca regularment com a primer trompa amb alguns
        dels principals conjunts d'instruments d'època com Europa Galante
        (Itàlia), Anima Eterna (Bèlgica) i Tafelmusik Baroque Orchestra
        (Canadà). Ha estat convidat també a actuar amb l'Orquestra Barroca de
        Friburg (Alemanya), el Collegium Vocale Gent (Bèlgica), Graindelavoix
        (Bèlgica), Orchestre des Champs-Élysées, Arion Orquestra Barroca
        (Canadà), Vespres d'Arnadi (Espanya) i Capricci Stravagante (França).
        Les seves activitats artístiques l'han portat durant els últims anys a
        una trentena de països d'Europa, Àsia, Nord-amèrica i Amèrica del Sud, i
        ha col·laborat amb directors de renom com Frans Brüggen, Philippe
        Herreweghe, Fabio Biondi, René Jacobs, Masaaki Suzuki, Sir Simon
        Rattle, Pablo Heras-Casado, Raphaël Pichon i Ton Koopman.
      </p>
      <p>
        Ha tocat com a solista diverses vegades, tant en obres barroques amb
        parts solistes obligades (
        <cite>Missa en si menor</cite>
        o
        <cite>Concert de Brandenburg</cite>
        de Bach, per exemple) com en concerts tradicionals de Mozart o Richard
        Strauss. El 2014 funda a Barcelona l'Ensemble Dialoghi per explorar el
        repertori clàssic i romàntic de la música de cambra amb instruments
        històrics. El primer disc d'aquest ensemble, publicat per Harmonia Mundi
        el 2018, presenta quintets de Mozart i Beethoven per a piano i vents.
      </p>
      <p>
        Apassionat per l'ensenyament de les diferents trompes històriques, és
        nomenat professor el 2023 al Conservatoire National Supérieur de Musique
        et de Danse de París (
        <abbr
          title="Conservatoire National Supérieur de Musique et de Danse de Paris"
        >
          CNSMDP
        </abbr>
        ), posició amb la qual succeeix el seu mentor, Claude Maury, i a
        l'Escola Superior de Música de Catalunya (
        <abbr title="Escola Superior de Música de Catalunya">ESMUC</abbr>
        ) a Barcelona. Ha impartit com a professor convidat classes magistrals
        al Conservatori Yong Siew Toh de Singapur, la Universitat J.F. Oberlin
        de Tòquio, l'Acadèmia Internacional Domaine Forget (Canadà), la Jacobs
        School of Music de la Universitat de l'Indiana (EUA), el Conservatori d'Amsterdam, el
        Conservatori Reial de Brussel·les, la Hochschule de Hannover,  i el Centre Superior d'Ensenyament
        Musical Katarina Gurska de Madrid. També ensenya a la Jeune Orchestre de l’Abbaye aux Dames/Université de Poitiers, a França, i ha ensenyat prèviament a la Universitat McGill (Canadà).
      </p>

      <p>
        Inicia la seva formació musical amb la trompa moderna al Conservatori de
        Música de Quebec amb Julie-Anne Drolet i més tard a la Universitat
        McGill a Montreal. Després estudia la trompa natural amb Teunis van der
        Zwart al Conservatori d'Amsterdam, on obté un màster en música antiga el
        2012.
      </p>
      <p>
        Ha estat convidat a actuar als congressos de l'Associació internacional
        de la trompa (
        <abbr title="International Horn Society">IHS</abbr>
        ) el 2023 a Montreal (Canadà) i el 2025 a Virgínia (Estats Units).
      </p>
      <p>
        Entusiasta de la història i dels instruments antics, posseeix una
        col·lecció de trompes antigues, entre les quals destaquen dues trompes
        naturals de l'inici del segle XIX de Marcel-Auguste Raoux i de Courtois
        Neveu Aîné, així com una trompa vienesa de Leopold Uhlmann. També
        col·labora amb el fabricant d'instruments Richard Seraphinoff en la
        recerca i disseny de noves còpies de trompes antigues i contribueix a l'
        <a href="https://imslp.org/wiki/User:Puzzi22" target="_blank" lang="en">
          International Music Score Library Project
        </a>
        (
        <abbr title="International Music Score Library Project">IMSLP</abbr>
        ), tasca que permet posar a disposició de tothom centenars d'obres per a
        trompa.
      </p>
    </div>
  </div>
</section>
