            <ul class="lang-menu">
              <li class="lang-menu__item" data-lang="en">
                <a href="#">English</a>
              </li>
              <li class="lang-menu__item" data-lang="fr">
                <a href="#">Français</a>
              </li>
              <li class="lang-menu__item" data-lang="es">
                <a href="#">Español</a>
              </li>
              <li class="lang-menu__item" data-lang="ca">
                <a href="#">Català</a>
              </li>
            </ul>