<header class="header">
    <div class="header__slogan">
        To Say Something Differently Is To Say Something Different
    </div>
    <nav class="main-nav">
        <ul class="main-nav__list">
            <li class="main-nav__item">
                <a href="index.html" class="main-nav__link">Home</a>
            </li>
            <li class="main-nav__item">
                <a href="#biography" class="main-nav__link">Biography</a>
            </li>
            <li class="main-nav__item">
                <a href="#photos" class="main-nav__link">Photos</a>
            </li>
            <li class="main-nav__item">
                <a href="agenda2023.html" class="main-nav__link">Agenda</a>
            </li>
            <li class="main-nav__item">
                <a href="#media" class="main-nav__link">Media</a>
            </li>
            <li class="main-nav__item">
                <a href="#" class="main-nav__link">Recordings</a>
            </li>
            <li class="main-nav__item">
                <a href="#" class="main-nav__link">Contact</a>
            </li>
        </ul>
    </nav>
</header>
