<header class="header">
  <nav class="topnav" id="myTopnav">
    <div class="topnav__slogan">
      "To Say Something Differently Is To Say Something Different"
    </div>
    <ul class="nav-list">
      <li class="topnav__item">
        <a href="index.html" class="topnav__link">Home</a>
      </li>
      <li class="topnav__item">
        <a href="index.html#biography" class="topnav__link">Biography</a>
      </li>
      <li class="topnav__item">
        <a href="index.html#photos" class="topnav__link">Photos</a>
      </li>
      <li class="topnav__item">
        <a href="agenda2023.html" class="topnav__link">Agenda</a>
      </li>
      <li class="topnav__item">
        <a href="index.html#videos" class="topnav__link">Videos</a>
      </li>
      <li class="topnav__item">
        <a href="recordings.html" class="topnav__link">Recordings</a>
      </li>
      <li class="topnav__item">
        <a href="contact.html" class="topnav__link">Contact</a>
      </li>
      <li class="topnav__item icon-button">
        <button
          class="icon"
          onclick="toggleMobileNav()"
          type="button"
          aria-label="toggle mobile nav"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512"
            focusable="false"
          >
            <path
              d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"
            />
          </svg>
        </button>
      </li>
    </ul>
  </nav>
  <button
    type="button"
    onclick="topFunction()"
    id="myBtn"
    title="Go to top"
    aria-label="top"
  >
    <img class="arrow" src="./assets/images/arrow-up.svg" alt="Arrow Up" />
  </button>
</header>
