<div id="photos" class="photo-section">
  <a
    href="./assets/images/img-hor-2.jpg"
    data-pswp-srcset="
        ./assets/images/img-hor-2.jpg?as=webp&width=400 400w,
        ./assets/images/img-hor-2.jpg?as=webp&width=800 800w
      "
    data-pswp-width="5339"
    data-pswp-height="3671"
    target="_blank"
    class="photo-section__link"
    aria-label="Portrait of Pierre-Antoine Tremblay with natural horn"
  >
    <picture>
      <source
        srcset="
          ./assets/images/img-hor-2.jpg?as=webp&width=400 400w,
          ./assets/images/img-hor-2.jpg?as=webp&width=800 800w
        "
        sizes="(max-width: 300px) 400px, 800px"
        type="image/webp"
      />
      <img
        src="./assets/images/img-hor-2.jpg"
        srcset="
          ./assets/images/img-hor-2.jpg?width=400 400w,
          ./assets/images/img-hor-2.jpg?width=800 800w
        "
        sizes="(max-width: 300px) 400px, 800px"
        alt="Portrait of Pierre-Antoine Tremblay with natural horn"
        class="photo-section__img"
        loading="lazy"
      />
    </picture>
  </a>

  <a
    href="./assets/images/img-hor-1.jpg"
    data-pswp-srcset="
      ./assets/images/img-hor-1.jpg?as=webp&width=400 400w,
      ./assets/images/img-hor-1.jpg?as=webp&width=800 800w
    "
    data-pswp-width="8640"
    data-pswp-height="5760"
    target="_blank"
    class="photo-section__link"
    aria-label="Pierre-Antoine Tremblay playing the Vienna horn with the orchestra in the background"
  >
    <picture>
      <source
        srcset="
          ./assets/images/img-hor-1.jpg?as=webp&width=400 400w,
          ./assets/images/img-hor-1.jpg?as=webp&width=800 800w
        "
        sizes="(max-width: 300px) 400px, 800px"
        type="image/webp"
      />
      <img
        src="./assets/images/img-hor-1.jpg"
        srcset="
          ./assets/images/img-hor-1.jpg?width=400 400w,
          ./assets/images/img-hor-1.jpg?width=800 800w
        "
        sizes="(max-width: 300px) 400px, 800px"
        alt="Pierre-Antoine Tremblay playing the Vienna horn with the orchestra in the background"
        class="photo-section__img"
        loading="lazy"
      />
    </picture>
  </a>

  <a
    href="./assets/images/img-vert-4.jpg"
    data-pswp-srcset="
      ./assets/images/img-vert-4.jpg?as=webp&width=200 200w,
      ./assets/images/img-vert-4.jpg?as=webp&width=400 400w
    "
    data-pswp-width="3142"
    data-pswp-height="3769"
    target="_blank"
    class="photo-section__link"
    aria-label="Portrait of Pierre-Antoine Tremblay with natural horn"
  >
    <picture>
      <source
        srcset="
          ./assets/images/img-vert-4.jpg?as=webp&width=200 200w,
          ./assets/images/img-vert-4.jpg?as=webp&width=400 400w
        "
        sizes="(max-width: 300px) 200px, 400px"
        type="image/webp"
      />
      <img
        src="./assets/images/img-vert-4.jpg"
        srcset="
          ./assets/images/img-vert-4.jpg?width=200 200w,
          ./assets/images/img-vert-4.jpg?width=400 400w
        "
        sizes="(max-width: 300px) 200px, 400px"
        alt="Portrait of Pierre-Antoine Tremblay with natural horn"
        class="photo-section__img"
        loading="lazy"
      />
    </picture>
  </a>

  <a
    href="./assets/images/img-vert-1.jpg"
    data-pswp-srcset="
    ./assets/images/img-vert-1.jpg?as=webp&width=200 200w,
    ./assets/images/img-vert-1.jpg?as=webp&width=400 400w
  "
    data-pswp-width="3660"
    data-pswp-height="5490"
    target="_blank"
    class="photo-section__link"
    aria-label="Portrait of Pierre-Antoine Tremblay"
  >
    <picture>
      <source
        srcset="
          ./assets/images/img-vert-1.jpg?as=webp&width=200 200w,
          ./assets/images/img-vert-1.jpg?as=webp&width=400 400w
        "
        sizes="(max-width: 300px) 200px, 400px"
        type="image/webp"
      />
      <img
        src="./assets/images/img-vert-1.jpg"
        srcset="
          ./assets/images/img-vert-1.jpg?width=200 200w,
          ./assets/images/img-vert-1.jpg?width=400 400w
        "
        sizes="(max-width: 300px) 200px, 400px"
        alt="Portrait of Pierre-Antoine Tremblay"
        class="photo-section__img"
        loading="lazy"
      />
    </picture>
  </a>

  <a
    href="./assets/images/img-vert-3.jpg"
    data-pswp-srcset="
  ./assets/images/img-vert-3.jpg?as=webp&width=200 200w,
  ./assets/images/img-vert-3.jpg?as=webp&width=400 400w
"
    data-pswp-width="3060"
    data-pswp-height="4588"
    target="_blank"
    class="photo-section__link"
    aria-label="Black and white portrait of Pierre-Antoine Tremblay sitting in the orchestra"
  >
    <picture>
      <source
        srcset="
          ./assets/images/img-vert-3.jpg?as=webp&width=200 200w,
          ./assets/images/img-vert-3.jpg?as=webp&width=400 400w
        "
        sizes="(max-width: 300px) 200px, 400px"
        type="image/webp"
      />
      <img
        src="./assets/images/img-vert-3.jpg"
        srcset="
          ./assets/images/img-vert-3.jpg?width=200 200w,
          ./assets/images/img-vert-3.jpg?width=400 400w
        "
        sizes="(max-width: 300px) 200px, 400px"
        alt="Black and white portrait of Pierre-Antoine Tremblay sitting in the orchestra"
        class="photo-section__img"
        loading="lazy"
      />
    </picture>
  </a>

  <a
    href="./assets/images/img-vert-2.jpg"
    data-pswp-srcset="
  ./assets/images/img-vert-2.jpg?as=webp&width=200 200w,
  ./assets/images/img-vert-2.jpg?as=webp&width=400 400w
"
    data-pswp-width="3198"
    data-pswp-height="4797"
    target="_blank"
    class="photo-section__link"
    aria-label="Portrait of Pierre-Antoine Tremblay with natural horn"
  >
    <picture>
      <source
        srcset="
          ./assets/images/img-vert-2.jpg?as=webp&width=200 200w,
          ./assets/images/img-vert-2.jpg?as=webp&width=400 400w
        "
        sizes="(max-width: 300px) 200px, 400px"
        type="image/webp"
      />
      <img
        src="./assets/images/img-vert-2.jpg"
        srcset="
          ./assets/images/img-vert-2.jpg?width=200 200w,
          ./assets/images/img-vert-2.jpg?width=400 400w
        "
        sizes="(max-width: 300px) 200px, 400px"
        alt="Portrait of Pierre-Antoine Tremblay with natural horn"
        class="photo-section__img"
        loading="lazy"
      />
    </picture>
  </a>
</div>
