<div id="photos" class="photo-section-teaching">
  <a
    href="./assets/images/img-teach-hor-1.jpg"
    data-pswp-srcset="
        ./assets/images/img-teach-hor-1.jpg?as=webp&width=800 800w,
        ./assets/images/img-teach-hor-1.jpg?as=webp&width=1600 1600w
      "
    data-pswp-width="3840"
    data-pswp-height="3390"
    target="_blank"
    class="photo-section__link"
    aria-label="Pierre-Antoine Tremblay with the students of the Paris Conservatoire, 2024"
  >
    <picture>
      <source
        srcset="
          ./assets/images/img-teach-hor-1.jpg?as=webp&width=800   800w,
          ./assets/images/img-teach-hor-1.jpg?as=webp&width=1600 1600w
        "
        sizes="50vw"
        type="image/webp"
      />
      <img
        src="./assets/images/img-teach-hor-1.jpg"
        srcset="
          ./assets/images/img-teach-hor-1.jpg?width=800   800w,
          ./assets/images/img-teach-hor-1.jpg?width=1600 1600w
        "
        sizes="50vw"
        alt="Early Horn Class of the Paris Conservatoire, 2024"
        class="photo-section__img"
        loading="lazy"
      />
    </picture>
    <div class="hidden-caption-content">
      Early Horn Class of the Paris Conservatoire, 2024
      <br />
      (Valentin Chpelitch, Antoine Jeannot, Louis Berthelot, Ori Langer, Romain
      Albert, Élodie Baert, Simon Besse & Zoya Cata)
    </div>
  </a>

  <a
    href="./assets/images/img-teach-hor-2.jpg"
    data-pswp-srcset="
      ./assets/images/img-teach-hor-2.jpg?as=webp&width=800 800w,
      ./assets/images/img-teach-hor-2.jpg?as=webp&width=1600 1600w
    "
    data-pswp-width="2048"
    data-pswp-height="1536"
    target="_blank"
    class="photo-section__link"
    aria-label="Pierre-Antoine Tremblay with the students of the ESMUC, 2025"
  >
    <picture>
      <source
        srcset="
          ./assets/images/img-teach-hor-2.jpg?as=webp&width=800   800w,
          ./assets/images/img-teach-hor-2.jpg?as=webp&width=1600 1600w
        "
        sizes="50vw"
        type="image/webp"
      />
      <img
        src="./assets/images/img-teach-hor-2.jpg"
        srcset="
          ./assets/images/img-teach-hor-2.jpg?width=800   800w,
          ./assets/images/img-teach-hor-2.jpg?width=1600 1600w
        "
        sizes="50vw"
        alt="Natural Horn Class at the Escola Superior de Música de Catalunya, 2025"
        class="photo-section__img"
        loading="lazy"
      />
    </picture>
    <div class="hidden-caption-content">
      Natural Horn Class at the Escola Superior de Música de Catalunya, 2025
      <br />
      (Orens Caumont, Celia María Jiménez, Maria Caules Caules, Pedro Sapena
      Cervera, Eduardo Aparicio Mínguez & Sandra Ramon)
    </div>
  </a>

  <a
    href="./assets/images/img-teach-hor-3.jpg"
    data-pswp-srcset="
      ./assets/images/img-teach-hor-3.jpg?as=webp&width=800 800w,
      ./assets/images/img-teach-hor-3.jpg?as=webp&width=1600 1600w
    "
    data-pswp-width="1410"
    data-pswp-height="1058"
    target="_blank"
    class="photo-section__link"
    aria-label="Pierre-Antoine Tremblay, Claude Maury and the students of the Paris Conservatoire, 2025"
  >
    <picture>
      <source
        srcset="
          ./assets/images/img-teach-hor-3.jpg?as=webp&width=800   800w,
          ./assets/images/img-teach-hor-3.jpg?as=webp&width=1600 1600w
        "
        sizes="50vw"
        type="image/webp"
      />
      <img
        src="./assets/images/img-teach-hor-3.jpg"
        srcset="
          ./assets/images/img-teach-hor-3.jpg?width=800   800w,
          ./assets/images/img-teach-hor-3.jpg?width=1600 1600w
        "
        sizes="50vw"
        alt="Talk on the 19th-Century Horn Methods of the Paris Conservatoire, 2025"
        class="photo-section__img"
        loading="lazy"
      />
    </picture>
    <div class="hidden-caption-content">
      Presentation on the Horn Methods from the Paris Conservatoire, 2025
      <br />
      (Élodie Baert, Ori Langer, Emma Clem, Valentin Chpelitch, Antoine Jeannot
      & Louis Berthelot)
    </div>
  </a>

  <a
    href="./assets/images/img-teach-hor-10.jpg"
    data-pswp-srcset="
    ./assets/images/img-teach-hor-10.jpg?as=webp&width=400 400w,
    ./assets/images/img-teach-hor-10.jpg?as=webp&width=800 800w
    "
    data-pswp-width="2048"
    data-pswp-height="1536"
    target="_blank"
    class="photo-section__link"
    aria-label="Pierre-Antoine Tremblay giving a public masterclass to a trumpet student at the Domaine Forget, Quebec, 2024"
  >
    <picture>
      <source
        srcset="
          ./assets/images/img-teach-hor-10.jpg?as=webp&width=400 400w,
          ./assets/images/img-teach-hor-10.jpg?as=webp&width=800 800w
        "
        sizes="(max-width: 768px) 50vw, 25vw"
        type="image/webp"
      />
      <img
        src="./assets/images/img-teach-hor-10.jpg"
        srcset="
          ./assets/images/img-teach-hor-10.jpg?width=400 400w,
          ./assets/images/img-teach-hor-10.jpg?width=800 800w
        "
        sizes="(max-width: 768px) 50vw, 25vw"
        alt="Masterclass at the Domaine Forget, Quebec, 2024"
        class="photo-section__img"
        loading="lazy"
      />
    </picture>
    <div class="hidden-caption-content">
      Masterclass at the Domaine Forget Academy in Quebec, 2024
      <br />
      (Elias Doyle)
    </div>
  </a>

  <a
    href="./assets/images/img-teach-hor-4.jpg"
    data-pswp-srcset="
        ./assets/images/img-teach-hor-4.jpg?as=webp&width=800 800w,
        ./assets/images/img-teach-hor-4.jpg?as=webp&width=1600 1600w
      "
    data-pswp-width="1600"
    data-pswp-height="1200"
    target="_blank"
    class="photo-section__link"
    aria-label="Pierre-Antoine Tremblay, Marjolaine Goulet and the students of the Conservatoire de Musique de Québec, 2024"
  >
    <picture>
      <source
        srcset="
          ./assets/images/img-teach-hor-4.jpg?as=webp&width=800   800w,
          ./assets/images/img-teach-hor-4.jpg?as=webp&width=1600 1600w
        "
        sizes="50vw"
        type="image/webp"
      />
      <img
        src="./assets/images/img-teach-hor-4.jpg"
        srcset="
          ./assets/images/img-teach-hor-4.jpg?width=800   800w,
          ./assets/images/img-teach-hor-4.jpg?width=1600 1600w
        "
        sizes="50vw"
        alt="Masterclass at the Conservatoire de Musique de Québec, 2024"
        class="photo-section__img"
        loading="lazy"
      />
    </picture>
    <div class="hidden-caption-content">
      Masterclass at the Conservatoire de Musique de Québec, studio of
      Marjolaine Goulet, 2024
    </div>
  </a>

  <a
    href="./assets/images/img-teach-hor-5.jpeg"
    data-pswp-srcset="
        ./assets/images/img-teach-hor-5.jpeg?as=webp&width=800 800w,
        ./assets/images/img-teach-hor-5.jpeg?as=webp&width=1600 1600w
      "
    data-pswp-width="3624"
    data-pswp-height="2718"
    target="_blank"
    class="photo-section__link"
    aria-label="Pierre-Antoine Tremblay, Claude Maury and the students of the Paris Conservatoire, 2024"
  >
    <picture>
      <source
        srcset="
          ./assets/images/img-teach-hor-5.jpeg?as=webp&width=800   800w,
          ./assets/images/img-teach-hor-5.jpeg?as=webp&width=1600 1600w
        "
        sizes="50vw"
        type="image/webp"
      />
      <img
        src="./assets/images/img-teach-hor-5.jpeg"
        srcset="
          ./assets/images/img-teach-hor-5.jpeg?width=800   800w,
          ./assets/images/img-teach-hor-5.jpeg?width=1600 1600w
        "
        sizes="50vw"
        alt="Early Horn Class at the Paris Conservatoire, 2024"
        class="photo-section__img"
        loading="lazy"
      />
    </picture>
    <div class="hidden-caption-content">
      Early Horn Class of the Paris Conservatoire, 2024
      <br />
      (Clément Roudier, Sarah Roszak, Zoya Catta, Romain Albert & Théo Suchanek)
    </div>
  </a>

  <a
    href="./assets/images/img-teach-hor-6.jpg"
    data-pswp-srcset="
        ./assets/images/img-teach-hor-6.jpg?as=webp&width=800 800w,
        ./assets/images/img-teach-hor-6.jpg?as=webp&width=1600 1600w
      "
    data-pswp-width="1046"
    data-pswp-height="720"
    target="_blank"
    class="photo-section__link"
    aria-label="Pierre-Antoine Tremblay with students of the Jeune Orchestre de l'Abbaye, 2023"
  >
    <picture>
      <source
        srcset="
          ./assets/images/img-teach-hor-6.jpg?as=webp&width=800   800w,
          ./assets/images/img-teach-hor-6.jpg?as=webp&width=1600 1600w
        "
        sizes="50vw"
        type="image/webp"
      />
      <img
        src="./assets/images/img-teach-hor-6.jpg"
        srcset="
          ./assets/images/img-teach-hor-6.jpg?width=800   800w,
          ./assets/images/img-teach-hor-6.jpg?width=1600 1600w
        "
        sizes="50vw"
        alt="Brass section at the Jeune Orchestre de l'Abbaye (France), 2023"
        class="photo-section__img"
        loading="lazy"
      />
    </picture>
    <div class="hidden-caption-content">
      Brass section at the Jeune Orchestre de l'Abbaye (France), 2023
      <br />
      (Cyril Vittecoq, Germain Leguy, Camille Vaccaretti, Gaetan Moulin & Vicent
      Serra Primo)
    </div>
  </a>

  <a
    href="./assets/images/img-teach-hor-7.jpg"
    data-pswp-srcset="
        ./assets/images/img-teach-hor-7.jpg?as=webp&width=800 800w,
        ./assets/images/img-teach-hor-7.jpg?as=webp&width=1600 1600w
      "
    data-pswp-width="2624"
    data-pswp-height="1968"
    target="_blank"
    class="photo-section__link"
    aria-label="Pierre-Antoine Tremblay, Markus Maskuniitty and the horn students at the Domaine Forget, 2023"
  >
    <picture>
      <source
        srcset="
          ./assets/images/img-teach-hor-7.jpg?as=webp&width=800   800w,
          ./assets/images/img-teach-hor-7.jpg?as=webp&width=1600 1600w
        "
        sizes="50vw"
        type="image/webp"
      />
      <img
        src="./assets/images/img-teach-hor-7.jpg"
        srcset="
          ./assets/images/img-teach-hor-7.jpg?width=800   800w,
          ./assets/images/img-teach-hor-7.jpg?width=1600 1600w
        "
        sizes="50vw"
        alt="Domaine Forget, 2023"
        class="photo-section__img"
        loading="lazy"
      />
    </picture>
    <div class="hidden-caption-content">
      Horn students at the Domaine Forget Academy in Quebec, 2023
    </div>
  </a>

  <a
    href="./assets/images/img-teach-hor-8.jpg"
    data-pswp-srcset="
        ./assets/images/img-teach-hor-8.jpg?as=webp&width=800 800w,
        ./assets/images/img-teach-hor-8.jpg?as=webp&width=1600 1600w
      "
    data-pswp-width="1445"
    data-pswp-height="1153"
    target="_blank"
    class="photo-section__link"
    aria-label="Clément Roudier, Hélène Telliez, Kieran Scruggs and Eduardo Aparicio Minguez at the Jeune Orchestre de l'Abbaye, 2024"
  >
    <picture>
      <source
        srcset="
          ./assets/images/img-teach-hor-8.jpg?as=webp&width=800   800w,
          ./assets/images/img-teach-hor-8.jpg?as=webp&width=1600 1600w
        "
        sizes="50vw"
        type="image/webp"
      />
      <img
        src="./assets/images/img-teach-hor-8.jpg"
        srcset="
          ./assets/images/img-teach-hor-8.jpg?width=800   800w,
          ./assets/images/img-teach-hor-8.jpg?width=1600 1600w
        "
        sizes="50vw"
        alt="Horn section at the Jeune Orchestre de l'Abbaye (France), 2024"
        class="photo-section__img"
        loading="lazy"
      />
    </picture>
    <div class="hidden-caption-content">
      Horn section at the Jeune Orchestre de l'Abbaye (France), 2024
      <br />
      (Clément Roudier, Hélène Telliez, Kieran Scruggs & Eduardo Aparicio
      Mínguez)
    </div>
  </a>

  <a
    href="./assets/images/img-teach-hor-9.jpg"
    data-pswp-srcset="
        ./assets/images/img-teach-hor-9.jpg?as=webp&width=800 800w,
        ./assets/images/img-teach-hor-9.jpg?as=webp&width=1600 1600w
      "
    data-pswp-width="3667"
    data-pswp-height="2750"
    target="_blank"
    class="photo-section__link"
    aria-label="Pierre-Antoine Tremblay and three students from the ESMUC, 2025"
  >
    <picture>
      <source
        srcset="
          ./assets/images/img-teach-hor-9.jpg?as=webp&width=800   800w,
          ./assets/images/img-teach-hor-9.jpg?as=webp&width=1600 1600w
        "
        sizes="50vw"
        type="image/webp"
      />
      <img
        src="./assets/images/img-teach-hor-9.jpg"
        srcset="
          ./assets/images/img-teach-hor-9.jpg?width=800   800w,
          ./assets/images/img-teach-hor-9.jpg?width=1600 1600w
        "
        sizes="50vw"
        alt="Visit of my horn collection with students from the ESMUC, 2025"
        class="photo-section__img"
        loading="lazy"
      />
    </picture>
    <div class="hidden-caption-content">
      Visit of my horn collection with students of the ESMUC, 2025
      <br />
      (Orens Caumont, Celia María Jiménez & Maria Caules Caules)
    </div>
  </a>

  <a
    href="./assets/images/img-teach-hor-11.jpg"
    data-pswp-srcset="
        ./assets/images/img-teach-hor-11.jpg?as=webp&width=800 800w,
        ./assets/images/img-teach-hor-11.jpg?as=webp&width=1600 1600w
      "
    data-pswp-width="3667"
    data-pswp-height="2750"
    target="_blank"
    class="photo-section__link"
    aria-label="Natural horn quartet at the Paris Conservatoire, 2024"
  >
    <picture>
      <source
        srcset="
          ./assets/images/img-teach-hor-11.jpg?as=webp&width=800   800w,
          ./assets/images/img-teach-hor-11.jpg?as=webp&width=1600 1600w
        "
        sizes="50vw"
        type="image/webp"
      />
      <img
        src="./assets/images/img-teach-hor-11.jpg"
        srcset="
          ./assets/images/img-teach-hor-11.jpg?width=800   800w,
          ./assets/images/img-teach-hor-11.jpg?width=1600 1600w
        "
        sizes="50vw"
        alt="Natural horn quartet at the Paris Conservatoire, 2024"
        class="photo-section__img"
        loading="lazy"
      />
    </picture>
    <div class="hidden-caption-content">
      Natural horn quartet at the Paris Conservatoire, 2024
      <br />
      (Cyril Vittecoq, Zoya Catta, Romain Albert & Sarah Roszak)
    </div>
  </a>
</div>
