<section id="videos">
  <h2 class="section__title">Videos</h2>
  <div class="container">
    <div class="video-section">
      <div class="iframe-wrapper">
        <!-- <iframe
          class="video-section--for-media-query"
          src="https://www.youtube.com/embed/VbmJsUIkiWY?vq=hd720"
          loading="lazy"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
          width="560"
          height="315"
        ></iframe> -->
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/VbmJsUIkiWY?si=rsbNqJ3V6gK5nPRX"
          loading="lazy"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>

      <div class="iframe-wrapper">
        <!-- <iframe
          class="video-section--for-media-query"
          src="https://www.youtube.com/embed/bujb_llqnPk?vq=hd720"
          loading="lazy"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
          width="560"
          height="315"
        ></iframe> -->
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/bujb_llqnPk?si=CQnHAn_Rjz0p9zAo"
          loading="lazy"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>

      <div class="iframe-wrapper">
        <!-- <iframe
          class="video-section--for-media-query"
          src="https://www.youtube.com/embed/eJFzZQmrimQ?vq=hd720"
          loading="lazy"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
          width="560"
          height="315"
        ></iframe> -->
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/eJFzZQmrimQ?si=OMZ1w3y5SH-Vjb4-"
          loading="lazy"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>

      <div class="iframe-wrapper">
        <!-- <iframe
          class="video-section--for-media-query"
          src="https://www.youtube.com/embed/juesNiA3X2s?vq=hd720"
          loading="lazy"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
          width="560"
          height="315"
        ></iframe> -->
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/juesNiA3X2s?si=IxxoQQoODc0kuXzn"
          loading="lazy"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>

      <div class="iframe-wrapper">
        <!-- <iframe
          class="video-section--for-media-query"
          src="https://www.youtube.com/embed/vLNrvl8JKQg?vq=hd720"
          loading="lazy"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
          width="560"
          height="315"
        ></iframe> -->
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/vLNrvl8JKQg?si=1B3SW_Qm2gUIzHBa"
          loading="lazy"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>

      <!-- <div class="iframe-wrapper">
        <iframe
          class="video-section--for-media-query"
          src="https://www.youtube.com/embed/N1Mw4waSg24?vq=hd720"
          loading="lazy"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
          width="560"
          height="315"
        ></iframe>
      </div>

      <div class="iframe-wrapper">
        <iframe
          class="video-section--for-media-query"
          src="https://www.youtube.com/embed/iQ7pm15LOd4?vq=hd720"
          loading="lazy"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
          width="560"
          height="315"
        ></iframe>
      </div>

      <div class="iframe-wrapper">
        <iframe
          class="video-section--for-media-query"
          src="https://www.youtube.com/embed/1PMSy0na1SM?vq=hd720"
          loading="lazy"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
          width="560"
          height="315"
        ></iframe>
      </div>

      <div class="iframe-wrapper">
        <iframe
          class="video-section--for-media-query"
          src="https://www.youtube.com/embed/jSbIYecSHOg?vq=hd720"
          loading="lazy"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
          width="560"
          height="315"
        ></iframe>
      </div>

      <div class="iframe-wrapper">
        <iframe
          class="video-section--for-media-query"
          src="https://www.youtube.com/embed/EG-QdYCy-CI?vq=hd720"
          loading="lazy"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
          width="560"
          height="315"
        ></iframe>
      </div> -->
    </div>
  </div>
</section>
