/* ------------------------------------ *\
   BIOGRAPHY SECTION
\* ------------------------------------ */

.lang-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
  padding: 0;
  list-style: none;

  @media (max-width: $breakpoint-mobile) {
    flex-direction: column;
    line-height: 3;
  }
}

.lang-menu__item {
  margin-left: 20px;
  font-size: 16px;
  @media (max-width: $breakpoint-mobile) {
    margin: 0 auto;
  }
}

.lang-menu__item::before {
  content: "\25C6"; /* Unicode character for a diamond */
  color: $color-secondary;
  margin-right: 20px; /* Add margin to separate the icon from the text */
  display: inline-block; /* Add this to make the icon inline with the text */
  margin-bottom: 3px;
  font-size: 16px;

  @media (max-width: $breakpoint-mobile) {
    content: none;
  }
}

.lang-menu__item:first-child {
  margin-left: 0;

  @media (max-width: $breakpoint-mobile) {
    margin: 0 auto;
  }
}

.lang-menu__item:first-child::before {
  content: none;
}

.biography {
  opacity: 0;
  visibility: hidden;
  display: none; /* Add this line */
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

/* Apply the "visible" class to show the content */
.biography.visible {
  opacity: 1;
  visibility: visible;
  display: block;
}

#biography {
  margin-bottom: 80px;
}

/* ------------------------------------ *\
   PHOTO SECTION
\* ------------------------------------ */

.photo-section {
  display: grid;
  grid-template-rows: auto repeat(1, 1fr); /* First row auto, remaining 2 rows take up remaining space */
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  gap: 5px;

  @media (max-width: $breakpoint-mobile) {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for small screens */
  }
}

.photo-section__img,
.recording-section__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* First Row: Two pictures taking each half the space available */
.photo-section__link:nth-child(1),
.photo-section__link:nth-child(2) {
  grid-column: span 2;

  @media (max-width: $breakpoint-mobile) {
    grid-column: span 1; /* Each picture takes full width on small screens */
    grid-row: 1; /* Both are on the first row */
  }
}

/* Second and Third Rows: Four pictures each taking a quarter of the space */
.photo-section__link:nth-child(3),
.photo-section__link:nth-child(4),
.photo-section__link:nth-child(5),
.photo-section__link:nth-child(6) {
  grid-column: span 1;

  @media (max-width: $breakpoint-mobile) {
    grid-column: span 1;
    grid-row: auto; /* Let the browser automatically place items */
  }
}

#photos {
  margin-bottom: 60px;
}

/* ------------------------------------ *\
   VIDEO SECTION
\* ------------------------------------ */

.video-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  gap: 40px;

  @media (max-width: $breakpoint-mobile) {
    grid-template-columns: 1fr; /* Stacking on mobile phones */
    gap: 30px;
  }

  align-items: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

.video-section--for-media-query {
  width: 100%;
  max-width: 560px;
  height: 315px;

  @media (max-width: $breakpoint-mobile) {
    height: calc((9 / 16) * 100vw);
  }
}

iframe {
  border: none;
  outline: none;
}

.iframe-wrapper {
  position: relative;
  width: 100%;
  max-width: 560px;
  height: calc((9 / 16) * 560px); /* 9:16 ratio */
  margin: 0 auto; /* Center the wrapper */
}

.iframe-wrapper iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
}

/* ------------------------------------ *\
   AGENDA PAGE
\* ------------------------------------ */

.cancelled {
  text-decoration: line-through;
}

.projects {
  margin: auto 10%;

  @media (max-width: $breakpoint-mobile) {
    margin: auto 5%;
  }
}

.year-menu {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Create 5 equal columns */
  grid-gap: 20px;
  width: 40%;
  margin: 0 auto 6rem auto;
  list-style: none;
  padding: 0;

  @media (max-width: $breakpoint-mobile) {
    width: 75%;
    line-height: 3;
    margin-bottom: 40px;
  }
}

.year-menu__item {
  font-size: 16px;
}

.solo {
  font-weight: 600;
}

/* ------------------------------------ *\
   RECORDINGS PAGE
\* ------------------------------------ */

.recordings-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 pictures in each row */
  gap: 10px;
  width: 80%;
  margin: 0 auto;

  @media (max-width: $breakpoint-mobile) {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 0;
    column-gap: 10px;
  }
}

.recordings-grid picture,
.recordings-grid img {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 1 / 1; /* Create a perfect square aspect ratio */
}

.solo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%; /* Set the width to match the recordings-grid */
  margin: 0 auto;
  margin-bottom: 40px;
  gap: 10px;

  @media (max-width: $breakpoint-mobile) {
    width: 90%;
  }
}

.solo-container picture {
  width: 50%; /* Each picture takes half of the container width */
  height: auto;
  max-width: 100%; /* Ensure the picture doesn't exceed the container width */
  aspect-ratio: 1 / 1;
}

.solo-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.solo-container__img {
  width: 100%; /* Make sure the images fill the picture containers */
}

/* ------------------------------------ *\
   CONTACT PAGE
\* ------------------------------------ */

#contact {
  margin-top: 40px;
}

#contact .container {
  max-width: 1000px;

  @media (min-width: 1441px) {
    max-width: 1440px;
  }
}

.contact-form {
  margin-top: 20px;
  width: 50%;
  margin: 0 auto;
}

.contact-form__group {
  display: grid;
  grid-template-columns: 20% auto;
  align-items: flex-start;
  margin-bottom: 20px;

  @media (max-width: $breakpoint-mobile) {
    grid-template-columns: repeat(1, 1fr);
  }
}

label {
  font-weight: bold;
  text-align: right;
  margin-right: 30px;

  @media (max-width: $breakpoint-mobile) {
    margin-right: 0;
    text-align: left;
  }
}

input[type="text"],
input[type="email"],
.message-area {
  width: 100%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 5px;
  color: white;
}

.message-area {
  resize: vertical;
  min-height: 150px;
}

.submit-button {
  background-color: #0071eb;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  justify-self: left; /* Align the button to the end of its grid cell */
  grid-column: 2; /* Place the button in the second column */
  width: 30%;
  font-size: 16px;

  @media (max-width: $breakpoint-mobile) {
    width: 100%;
  }
}

.submit-button:hover {
  background-color: #0167d3;
}
