.uoc-container {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
  border-radius: 2rem;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

/* ------------------------------------ *\
   HERO SECTION
\* ------------------------------------ */

.main-hero {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100vh;
  min-height: 100vh; /* Use min-height to ensure it spans the whole viewport */
  padding: 0 20px 20px;
  color: #fff;
  background-image: url("../images/bg-hero.jpg?as=webp");
  background-repeat: no-repeat;
  background-position: center center; // To center the image on desktops
  background-size: cover; // To make sure the off-centering doesn't leave a blank space on the right side
  margin-bottom: 30px;

  @media (max-width: $breakpoint-mobile) {
    background-position: calc(50% - 25px) 50%; // To center the hero image on smaller devices
    background-size: cover;
  }
}

.agenda-hero,
.contact-hero,
.recordings-hero {
  min-height: 70vh;
  height: 70vh;
}

.agenda-hero {
  background-image: url("../images/agenda-hero.jpg?as=webp");
  background-position: top center;
}

.recordings-hero {
  background-image: url("../images/recordings-hero.jpg?as=webp");
  background-position: top center;
}

.contact-hero {
  background-image: url("../images/contact-hero.jpg?as=webp");
  background-position: bottom center;
}

.main-hero::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  content: "";
  background-image: linear-gradient(to bottom, transparent, rgb(0, 0, 0, 1));

  @media (max-width: $breakpoint-mobile) {
    background-image: linear-gradient(
      to bottom,
      rgb(0, 0, 0, 0.4),
      rgb(0, 0, 0, 0.8)
    ); // To make the text more visible on small devices
  }
}

.main-hero__title {
  order: 2;
  font-size: $font-size-extra-large;
  line-height: 1;
  margin-bottom: 120px;

  @media (max-width: $breakpoint-mobile) {
    margin-bottom: 115px;
  }
}

.agenda-hero__title,
.recordings-hero__title,
.contact-hero__title  {
  margin-bottom: 60px;
}

// .uoc-title {
//   font-family: $font-family-serif;
//   font-size: 24px;
//   font-weight: 700;
//   color: $uoc-corporate;

//   @media (min-width: $mqMinWidth) {
//     font-size: 36px;
//   }
// }

.container {
  margin: 0 10%;
  font-size: $font-size-base;
  line-height: 1.8;
}

.section__title {
  text-align: center;
}

.lang-menu,
.year-menu {
  display: flex;
  flex-wrap: wrap;
  //   flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  margin-bottom: 3rem;
  padding: 0; /* Reset default padding */
  list-style: none; /* Remove default list styles */
}

.year-menu {
  width: 30vw;
  margin: 0 auto 6rem auto;
}

.lang-menu__item,
.year-menu__item {
  margin-left: 20px; /* Add spacing between items */
  font-size: 16px; /* Adjust font size as needed */
}

.lang-menu__item::before {
  content: "\25C6"; /* Unicode character for a diamond */
  color: $color-primary;
  margin-right: 20px; /* Add margin to separate the icon from the text */
  display: inline-block; /* Add this to make the icon inline with the text */
  margin-bottom: 3px;
  font-size: 16px;
}

.lang-menu__item:first-child {
  margin-left: 0;
}

.lang-menu__item:first-child::before {
  content: "";
}

/* Add a transition for opacity and visibility changes */
.content-block {
  opacity: 0;
  visibility: hidden;
  display: none; /* Add this line */
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

/* Apply the "visible" class to show the content */
.content-block.visible {
  opacity: 1;
  visibility: visible;
  display: block;
}

#biography {
  margin-bottom: 80px;
}

#photos {
  margin-bottom: 60px;
}

/* ------------------------------------ *\
   PHOTO SECTIONS LAYOUT
\* ------------------------------------ */

.photo-section--horizontal {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 5px;
  margin-bottom: 5px;

  @media (max-width: $breakpoint-mobile) {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
  }
}

.photo-section--vertical {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  width: 100%;

  @media (max-width: $breakpoint-mobile) {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }
}

.photo-section__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ------------------------------------ *\
   MUSIC SECTION
\* ------------------------------------ */

.music-section__video {
  display: grid; /* Use grid for flexible layout */
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  gap: 20px; /* Gap between items */

  @media (max-width: $breakpoint-mobile) {
    grid-template-columns: 1fr; /* Stacking on mobile phones */
    gap: 0; /* No gap on mobile */
  }

  align-items: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

.music-section__video--for-media-query {
  width: 100%;
  max-width: 560px;
  height: 315px;

  @media (max-width: $breakpoint-mobile) {
    height: calc((9 / 16) * 100vw);
  }
}

iframe {
  border: none;
  outline: none;
}

/* ------------------------------------ *\
   RECORDINGS
\* ------------------------------------ */

.recordings-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 pictures in each row */
  gap: 10px; /* Adjust the gap between images as needed */
  width: 80%;
  margin: 0 auto;
}

.recordings-grid picture,
.recordings-grid img {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 1 / 1; /* Create a perfect square aspect ratio */
}

.solo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%; /* Set the width to match the recordings-grid */
  margin: 0 auto;
  margin-bottom: 40px;
  gap: 10px;
}

.solo-container picture {
  width: 50%; /* Each picture takes half of the container width */
  height: auto;
  max-width: 100%; /* Ensure the picture doesn't exceed the container width */
  aspect-ratio: 1 / 1;
}

.solo-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.solo-recording {
  width: 100%; /* Make sure the images fill the picture containers */
}

/* ------------------------------------ *\
   CONTACT
\* ------------------------------------ */

form {
  margin-top: 20px;
  width: 50%;
  margin: 0 auto;
}

.form-group {
  display: grid; /* Change to grid */
  grid-template-columns: 20% auto; /* Adjust columns based on your layout */
  align-items: flex-start;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  text-align: right;
  margin-right: 30px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%; /* Adjust width for the input fields */
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 5px;
  color: white;
}

textarea {
  resize: vertical;
  min-height: 150px;
}

button[type="submit"] {
  background-color: #0071eb;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  justify-self: left; /* Align the button to the end of its grid cell */
  grid-column: 2; /* Place the button in the second column */
  width: 30%;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #0167d3;
}

/* ------------------------------------ *\
   FOOTER
\* ------------------------------------ */

.footer {
  //   position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 1.5rem 0;
  padding: 1rem;
  font-size: $font-size-small;
  text-align: center;
}
